# üß† Digital Forensics Analysis from Social Media Data
**Author:** Ashif Rabbani

**Environment:** Google Colab

**Data Source:** Social Media Platforms, Github

This project leverages Natural Language Processing (NLP) and Blockchain technology to identify and preserve potential digital forensic evidence from social media posts.

‚úÖ Step 1: Load and Explore Raw Data

üìå Objective

Clone a public GitHub repository containing sample social media datasets, load the data, and take an initial look at the structure and contents.

In [1]:
# Clone the repository (only needs to be done once per runtime session)
!git clone https://github.com/luminati-io/Social-media-dataset-samples.git

# Change directory to where the datasets are stored
%cd Social-media-dataset-samples

Cloning into 'Social-media-dataset-samples'...
remote: Enumerating objects: 22, done.
remote: Counting objects: 100% (22/22), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 22 (delta 6), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (22/22), 1.21 MiB | 11.35 MiB/s, done.
Resolving deltas: 100% (6/6), done.
/content/Social-media-dataset-samples

In [2]:
!ls

 Facebook-datasets.csv	  README.md		      TikTok-datasets.csv
 Instagram-datasets.csv   Social-media-datasets.png  'Twitter- datasets.csv'

In [4]:
import pandas as pd

# Load with correct filename (handle space)
df_twitter = pd.read_csv('Twitter- datasets.csv')

# Quick preview of the first few rows
df_twitter.head()

,id,user_posted,name,description,date_posted,photos,url,tagged_users,replies,reposts,...,posts_count,profile_image_link,following,is_verified,quotes,bookmarks,parent_post_details,external_image_urls,videos,quoted_post
0,1868428607451799983,Glo‚ñà‚ñà‚ñàews‚ñà‚ñà‚ñà,Glo‚ñà‚ñà‚ñàews‚ñà‚ñà‚ñà,"Com o fim da ditadura Assad, muitos s√≠rios con...","""2024-12-15T22:51:08.000Z""",NaN,https://x.com/GloboNews/status/186842860745179...,NaN,2,1,...,222223,https://pbs.twimg.com/profile_images/155910271...,122,False,1,1,"{""post_id"":null,""profile_id"":null,""profile_nam...",NaN,"[{""duration"":148167,""video_url"":""https://video...","{""data_posted"":null,""description"":null,""photos..."
1,1868159094567121215,bil‚ñà‚ñà‚ñàard‚ñà‚ñà‚ñà,bil‚ñà‚ñà‚ñàard‚ñà‚ñà‚ñà,Brian Austin Green Tells MGK to ‚ÄòGrow Up‚Äô Afte...,"""2024-12-15T05:00:11.000Z""",NaN,https://x.com/billboard/status/186815909456712...,NaN,7,3,...,357584,https://pbs.twimg.com/profile_images/169657720...,3784,False,1,2,"{""post_id"":null,""profile_id"":null,""profile_nam...","[""https://pbs.twimg.com/card_img/1867636129563...",NaN,"{""data_posted"":null,""description"":null,""photos..."
2,1868451534708883739,TNT‚ñà‚ñà‚ñàrts‚ñà‚ñà‚ñà,TNT‚ñà‚ñà‚ñàort‚ñà‚ñà‚ñàR,VENCE O PSG NO CL√ÅSSICO! üí™üá´üá∑ Nossa @claalbuque...,"""2024-12-16T00:22:14.000Z""",NaN,https://x.com/TNTSportsBR/status/1868451534708...,"[{""biography"":null,""followers"":null,""following...",2,1,...,456734,https://pbs.twimg.com/profile_images/180701304...,859,False,0,1,"{""post_id"":null,""profile_id"":null,""profile_nam...",NaN,"[{""duration"":94861,""video_url"":""https://video....","{""data_posted"":null,""description"":null,""photos..."
3,1868441382022717466,TNT‚ñà‚ñà‚ñàrts‚ñà‚ñà‚ñà,TNT‚ñà‚ñà‚ñàort‚ñà‚ñà‚ñàR,√çDOLO E AGORA PRESIDENTE! üá¶üá∑üá¶üá∑ O ex-atacante D...,"""2024-12-15T23:41:54.000Z""","[""https://pbs.twimg.com/media/Ge4JhOgXcAAQy5K....",https://x.com/TNTSportsBR/status/1868441382022...,"[{""biography"":null,""followers"":null,""following...",6,5,...,456734,https://pbs.twimg.com/profile_images/180701304...,859,False,1,3,"{""post_id"":null,""profile_id"":null,""profile_nam...",NaN,NaN,"{""data_posted"":null,""description"":null,""photos..."
4,1868418260892565925,Glo‚ñà‚ñà‚ñàews‚ñà‚ñà‚ñà,Glo‚ñà‚ñà‚ñàews‚ñà‚ñà‚ñà,.@DanielaLima_ : cirurgia de Lula travou negoc...,"""2024-12-15T22:10:01.000Z""",NaN,https://x.com/GloboNews/status/186841826089256...,"[{""biography"":null,""followers"":null,""following...",50,4,...,222223,https://pbs.twimg.com/profile_images/155910271...,122,False,3,3,"{""post_id"":null,""profile_id"":null,""profile_nam...",NaN,"[{""duration"":127067,""video_url"":""https://video...","{""data_posted"":null,""description"":null,""photos..."

In [ ]:
# Rename file to avoid issues with spaces
!mv 'Twitter- datasets.csv' twitter_datasets.csv

# Re-load with clean name
df_twitter = pd.read_csv('twitter_datasets.csv')

In [ ]:
# See all column names to choose what to keep
df_twitter.columns.tolist()

['id',
 'user_posted',
 'name',
 'description',
 'date_posted',
 'photos',
 'url',
 'tagged_users',
 'replies',
 'reposts',
 'likes',
 'views',
 'external_url',
 'hashtags',
 'followers',
 'biography',
 'posts_count',
 'profile_image_link',
 'following',
 'is_verified',
 'quotes',
 'bookmarks',
 'parent_post_details',
 'external_image_urls',
 'videos',
 'quoted_post']

In [ ]:
# Select relevant columns
df_relevant = df_twitter[['id', 'user_posted', 'description', 'date_posted', 'likes', 'replies', 'reposts', 'views']]

# Show first 5 rows with clean formatting
df_relevant.head().style.set_properties(**{'text-align': 'left'})

In [23]:
!pip install deep-translator langdetect
from deep_translator import GoogleTranslator
from langdetect import detect

def translate_if_not_english(text):
    try:
        lang = detect(text)
        if lang != 'en':
            translated = GoogleTranslator(source='auto', target='en').translate(text)
            return translated
        else:
            return text
    except:
        return text  # return original if error (e.g., empty text)

Requirement already satisfied: deep-translator in /usr/local/lib/python3.11/dist-packages (1.11.4)
Requirement already satisfied: langdetect in /usr/local/lib/python3.11/dist-packages (1.0.9)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in /usr/local/lib/python3.11/dist-packages (from deep-translator) (4.13.4)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /usr/local/lib/python3.11/dist-packages (from deep-translator) (2.32.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from langdetect) (1.17.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (4.13.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2025.4.26)

In [ ]:
df_relevant['description_translated'] = df_relevant['description'].apply(translate_if_not_english)

<ipython-input-22-db0cb2b12d2b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_relevant['description_translated'] = df_relevant['description'].apply(translate_if_not_english)

In [ ]:
df_relevant[['user_posted', 'description_translated', 'date_posted']].head().style.set_properties(**{'text-align': 'left'})

**Saving clean translated dataset**

In [ ]:
# Select relevant columns
df_cleaned = df_relevant[['id', 'user_posted', 'description_translated', 'date_posted', 'likes', 'replies', 'reposts', 'views']]

# Save the cleaned dataset to a CSV file in the current session
file_path = '/content/cleaned_twitter_dataset.csv'
df_cleaned.to_csv(file_path, index=False)

# Display message with file path
print(f"Cleaned dataset saved to session storage: {file_path}")

Cleaned dataset saved to session storage: /content/cleaned_twitter_dataset.csv

**Cleaning remaining datasets**

**2. Facebook dataset**

In [10]:
# Load with correct filename (handle space)
df_facebook = pd.read_csv('Facebook-datasets.csv')

# See all column names to choose what to keep
df_facebook.columns.tolist()

['url',
 'post_id',
 'post_url',
 'comment_id',
 'user_name',
 'user_id',
 'user_url',
 'date_created',
 'comment_text',
 'num_likes',
 'num_replies',
 'attached_files',
 'video_length',
 'source_type',
 'subtype',
 'type']

In [24]:
# Cleaning out irrelevant columns
df_facebook = df_facebook[['user_id', 'comment_text', 'date_created', 'num_likes', 'num_replies']]

# Replace NaN with 0
df_facebook.fillna(0, inplace=True)
# Convert float columns to integers
df_facebook[['num_likes', 'num_replies']] = df_facebook[['num_likes', 'num_replies']].astype(int)

# translate comment if not english
df_facebook['comment_text'] = df_facebook['comment_text'].apply(translate_if_not_english)

df_facebook.head().style.set_properties(**{'text-align': 'left'})

In [26]:
# Save the cleaned dataset to a CSV file in the current session
file_path = '/content/cleaned_facebook_dataset.csv'
df_facebook.to_csv(file_path, index=False)

# Display message with file path
print(f"Cleaned dataset saved to session storage: {file_path}")

Cleaned dataset saved to session storage: /content/cleaned_facebook_dataset.csv

**3. Instagram dataset**

In [27]:
# Load with correct filename (handle space)
df_instagram = pd.read_csv('Instagram-datasets.csv')

# See all column names to choose what to keep
df_instagram.columns.tolist()

['url',
 'comment_user',
 'comment_user_url',
 'comment_date',
 'comment',
 'likes_number',
 'replies_number',
 'replies',
 'hashtag_comment',
 'tagged_users_in_comment',
 'post_url',
 'post_user',
 'comment_id',
 'post_id']

In [28]:
# Cleaning out irrelevant columns
df_instagram = df_instagram[['comment_user', 'comment', 'comment_date', 'likes_number', 'replies_number']]

# Replace NaN with 0
# df_facebook.fillna(0, inplace=True)
# Convert float columns to integers
# df_facebook[['num_likes', 'num_replies']] = df_facebook[['num_likes', 'num_replies']].astype(int)

# translate comment if not english
df_instagram['comment'] = df_instagram['comment'].apply(translate_if_not_english)

df_instagram.head().style.set_properties(**{'text-align': 'left'})

In [29]:
# Save the cleaned dataset to a CSV file in the current session
file_path = '/content/cleaned_instagram_dataset.csv'
df_instagram.to_csv(file_path, index=False)

# Display message with file path
print(f"Cleaned dataset saved to session storage: {file_path}")

Cleaned dataset saved to session storage: /content/cleaned_instagram_dataset.csv

**4. TikTok dataset**

In [30]:
# Load with correct filename (handle space)
df_tiktok = pd.read_csv('TikTok-datasets.csv')

# See all column names to choose what to keep
df_tiktok.columns.tolist()

['url',
 'post_url',
 'post_id',
 'post_date_created',
 'date_created',
 'comment_text',
 'num_likes',
 'num_replies',
 'commenter_user_name',
 'commenter_id',
 'commenter_url',
 'comment_id',
 'comment_url']

In [31]:
# Cleaning out irrelevant columns
df_tiktok = df_tiktok[['comment_text', 'commenter_user_name', 'comment_id', 'date_created', 'num_likes', 'num_replies']]

# Replace NaN with 0
# df_facebook.fillna(0, inplace=True)
# Convert float columns to integers
# df_facebook[['num_likes', 'num_replies']] = df_facebook[['num_likes', 'num_replies']].astype(int)

# translate comment if not english
df_tiktok['comment'] = df_tiktok['comment_text'].apply(translate_if_not_english)

df_tiktok.head().style.set_properties(**{'text-align': 'left'})

In [32]:
# Save the cleaned dataset to a CSV file in the current session
file_path = '/content/cleaned_tiktok_dataset.csv'
df_tiktok.to_csv(file_path, index=False)

# Display message with file path
print(f"Cleaned dataset saved to session storage: {file_path}")

Cleaned dataset saved to session storage: /content/cleaned_tiktok_dataset.csv