# üß† Digital Forensics Analysis from Social Media Data
**Author:** Ashif Rabbani

**Environment:** Google Colab

**Data Source:** Social Media Platforms, Github

This project leverages Natural Language Processing (NLP) and Blockchain technology to identify and preserve potential digital forensic evidence from social media posts.

# Step 1: Explore and clean Raw Data

üìå Objective

Clone a public GitHub repository containing sample social media datasets, load the data, and take an initial look at the structure and contents.

In [ ]:
# Clone the repository (only needs to be done once per runtime session)
!git clone https://github.com/luminati-io/Social-media-dataset-samples.git

# Change directory to where the datasets are stored
%cd Social-media-dataset-samples

In [ ]:
!ls

 Facebook-datasets.csv	  README.md		      TikTok-datasets.csv
 Instagram-datasets.csv   Social-media-datasets.png  'Twitter- datasets.csv'

**1. Explore Twitter dataset**

In [ ]:
import pandas as pd

# Load with correct filename (handle space)
df_twitter = pd.read_csv('Twitter- datasets.csv')

# Quick preview of the first few rows
df_twitter.head()

,id,user_posted,name,description,date_posted,photos,url,tagged_users,replies,reposts,...,posts_count,profile_image_link,following,is_verified,quotes,bookmarks,parent_post_details,external_image_urls,videos,quoted_post
0,1868428607451799983,Glo‚ñà‚ñà‚ñàews‚ñà‚ñà‚ñà,Glo‚ñà‚ñà‚ñàews‚ñà‚ñà‚ñà,"Com o fim da ditadura Assad, muitos s√≠rios con...","""2024-12-15T22:51:08.000Z""",NaN,https://x.com/GloboNews/status/186842860745179...,NaN,2,1,...,222223,https://pbs.twimg.com/profile_images/155910271...,122,False,1,1,"{""post_id"":null,""profile_id"":null,""profile_nam...",NaN,"[{""duration"":148167,""video_url"":""https://video...","{""data_posted"":null,""description"":null,""photos..."
1,1868159094567121215,bil‚ñà‚ñà‚ñàard‚ñà‚ñà‚ñà,bil‚ñà‚ñà‚ñàard‚ñà‚ñà‚ñà,Brian Austin Green Tells MGK to ‚ÄòGrow Up‚Äô Afte...,"""2024-12-15T05:00:11.000Z""",NaN,https://x.com/billboard/status/186815909456712...,NaN,7,3,...,357584,https://pbs.twimg.com/profile_images/169657720...,3784,False,1,2,"{""post_id"":null,""profile_id"":null,""profile_nam...","[""https://pbs.twimg.com/card_img/1867636129563...",NaN,"{""data_posted"":null,""description"":null,""photos..."
2,1868451534708883739,TNT‚ñà‚ñà‚ñàrts‚ñà‚ñà‚ñà,TNT‚ñà‚ñà‚ñàort‚ñà‚ñà‚ñàR,VENCE O PSG NO CL√ÅSSICO! üí™üá´üá∑ Nossa @claalbuque...,"""2024-12-16T00:22:14.000Z""",NaN,https://x.com/TNTSportsBR/status/1868451534708...,"[{""biography"":null,""followers"":null,""following...",2,1,...,456734,https://pbs.twimg.com/profile_images/180701304...,859,False,0,1,"{""post_id"":null,""profile_id"":null,""profile_nam...",NaN,"[{""duration"":94861,""video_url"":""https://video....","{""data_posted"":null,""description"":null,""photos..."
3,1868441382022717466,TNT‚ñà‚ñà‚ñàrts‚ñà‚ñà‚ñà,TNT‚ñà‚ñà‚ñàort‚ñà‚ñà‚ñàR,√çDOLO E AGORA PRESIDENTE! üá¶üá∑üá¶üá∑ O ex-atacante D...,"""2024-12-15T23:41:54.000Z""","[""https://pbs.twimg.com/media/Ge4JhOgXcAAQy5K....",https://x.com/TNTSportsBR/status/1868441382022...,"[{""biography"":null,""followers"":null,""following...",6,5,...,456734,https://pbs.twimg.com/profile_images/180701304...,859,False,1,3,"{""post_id"":null,""profile_id"":null,""profile_nam...",NaN,NaN,"{""data_posted"":null,""description"":null,""photos..."
4,1868418260892565925,Glo‚ñà‚ñà‚ñàews‚ñà‚ñà‚ñà,Glo‚ñà‚ñà‚ñàews‚ñà‚ñà‚ñà,.@DanielaLima_ : cirurgia de Lula travou negoc...,"""2024-12-15T22:10:01.000Z""",NaN,https://x.com/GloboNews/status/186841826089256...,"[{""biography"":null,""followers"":null,""following...",50,4,...,222223,https://pbs.twimg.com/profile_images/155910271...,122,False,3,3,"{""post_id"":null,""profile_id"":null,""profile_nam...",NaN,"[{""duration"":127067,""video_url"":""https://video...","{""data_posted"":null,""description"":null,""photos..."

In [ ]:
# Rename file to avoid issues with spaces
!mv 'Twitter- datasets.csv' twitter_datasets.csv

# Re-load with clean name
df_twitter = pd.read_csv('twitter_datasets.csv')

In [ ]:
# See all column names to choose what to keep
df_twitter.columns.tolist()

['id',
 'user_posted',
 'name',
 'description',
 'date_posted',
 'photos',
 'url',
 'tagged_users',
 'replies',
 'reposts',
 'likes',
 'views',
 'external_url',
 'hashtags',
 'followers',
 'biography',
 'posts_count',
 'profile_image_link',
 'following',
 'is_verified',
 'quotes',
 'bookmarks',
 'parent_post_details',
 'external_image_urls',
 'videos',
 'quoted_post']

In [ ]:
# Select relevant columns
df_relevant = df_twitter[['id', 'user_posted', 'description', 'date_posted', 'likes', 'replies', 'reposts', 'views']]

# Show first 5 rows with clean formatting
df_relevant.head().style.set_properties(**{'text-align': 'left'})

In [ ]:
# some texts are not in english
# install required libraries to detect and translate to english

!pip install deep-translator langdetect
from deep_translator import GoogleTranslator
from langdetect import detect

def translate_if_not_english(text):
    try:
        lang = detect(text)
        if lang != 'en':
            translated = GoogleTranslator(source='auto', target='en').translate(text)
            return translated
        else:
            return text
    except:
        return text  # return original if error (e.g., empty text)

In [ ]:
# Translating description column entries into english

df_relevant['description_translated'] = df_relevant['description'].apply(translate_if_not_english)

In [ ]:
df_relevant[['user_posted', 'description_translated', 'date_posted']].head().style.set_properties(**{'text-align': 'left'})

**Saving clean translated dataset**

In [ ]:
# Select relevant columns
df_cleaned = df_relevant[['id', 'user_posted', 'description_translated', 'date_posted', 'likes', 'replies', 'reposts', 'views']]

# Save the cleaned dataset to a CSV file in the current session
file_path = '/content/cleaned_twitter_dataset.csv'
df_cleaned.to_csv(file_path, index=False)

# Display message with file path
print(f"Cleaned dataset saved to session storage: {file_path}")

Cleaned dataset saved to session storage: /content/cleaned_twitter_dataset.csv

**Cleaning remaining datasets**

**2. Facebook dataset**

In [ ]:
# Load with correct filename (handle space)
df_facebook = pd.read_csv('Facebook-datasets.csv')

# See all column names to choose what to keep
df_facebook.columns.tolist()

['url',
 'post_id',
 'post_url',
 'comment_id',
 'user_name',
 'user_id',
 'user_url',
 'date_created',
 'comment_text',
 'num_likes',
 'num_replies',
 'attached_files',
 'video_length',
 'source_type',
 'subtype',
 'type']

In [ ]:
# Cleaning out irrelevant columns
df_facebook = df_facebook[['user_id', 'comment_text', 'date_created', 'num_likes', 'num_replies']]

# Replace NaN with 0
df_facebook.fillna(0, inplace=True)
# Convert float columns to integers
df_facebook[['num_likes', 'num_replies']] = df_facebook[['num_likes', 'num_replies']].astype(int)

# translate comment if not english
df_facebook['comment_text'] = df_facebook['comment_text'].apply(translate_if_not_english)

df_facebook.head().style.set_properties(**{'text-align': 'left'})

In [ ]:
# Save the cleaned dataset to a CSV file in the current session
file_path = '/content/cleaned_facebook_dataset.csv'
df_facebook.to_csv(file_path, index=False)

# Display message with file path
print(f"Cleaned dataset saved to session storage: {file_path}")

Cleaned dataset saved to session storage: /content/cleaned_facebook_dataset.csv

**3. Instagram dataset**

In [ ]:
# Load with correct filename (handle space)
df_instagram = pd.read_csv('Instagram-datasets.csv')

# See all column names to choose what to keep
df_instagram.columns.tolist()

['url',
 'comment_user',
 'comment_user_url',
 'comment_date',
 'comment',
 'likes_number',
 'replies_number',
 'replies',
 'hashtag_comment',
 'tagged_users_in_comment',
 'post_url',
 'post_user',
 'comment_id',
 'post_id']

In [ ]:
# Cleaning out irrelevant columns
df_instagram = df_instagram[['comment_user', 'comment', 'comment_date', 'likes_number', 'replies_number']]

# Replace NaN with 0
# df_facebook.fillna(0, inplace=True)
# Convert float columns to integers
# df_facebook[['num_likes', 'num_replies']] = df_facebook[['num_likes', 'num_replies']].astype(int)

# translate comment if not english
df_instagram['comment'] = df_instagram['comment'].apply(translate_if_not_english)

df_instagram.head().style.set_properties(**{'text-align': 'left'})

In [ ]:
# Save the cleaned dataset to a CSV file in the current session
file_path = '/content/cleaned_instagram_dataset.csv'
df_instagram.to_csv(file_path, index=False)

# Display message with file path
print(f"Cleaned dataset saved to session storage: {file_path}")

Cleaned dataset saved to session storage: /content/cleaned_instagram_dataset.csv

**4. TikTok dataset**

In [ ]:
# Load with correct filename (handle space)
df_tiktok = pd.read_csv('TikTok-datasets.csv')

# See all column names to choose what to keep
df_tiktok.columns.tolist()

['url',
 'post_url',
 'post_id',
 'post_date_created',
 'date_created',
 'comment_text',
 'num_likes',
 'num_replies',
 'commenter_user_name',
 'commenter_id',
 'commenter_url',
 'comment_id',
 'comment_url']

In [ ]:
# Cleaning out irrelevant columns
df_tiktok = df_tiktok[['comment_text', 'commenter_user_name', 'comment_id', 'date_created', 'num_likes', 'num_replies']]

# Replace NaN with 0
# df_facebook.fillna(0, inplace=True)
# Convert float columns to integers
# df_facebook[['num_likes', 'num_replies']] = df_facebook[['num_likes', 'num_replies']].astype(int)

# translate comment if not english
df_tiktok['comment'] = df_tiktok['comment_text'].apply(translate_if_not_english)

df_tiktok.head().style.set_properties(**{'text-align': 'left'})

In [ ]:
# Save the cleaned dataset to a CSV file in the current session
file_path = '/content/cleaned_tiktok_dataset.csv'
df_tiktok.to_csv(file_path, index=False)

# Display message with file path
print(f"Cleaned dataset saved to session storage: {file_path}")

Cleaned dataset saved to session storage: /content/cleaned_tiktok_dataset.csv



> All the clean datasets are saved in a github repo for further use.

# Step 2 : Data pre-processing

**Making unified social media dataset**

In [ ]:
!git clone https://github.com/Ashif-1/NLP-Based-Digital-Forensics-Analysis-from-Social-Media-Data.git

In [8]:
!ls NLP-Based-Digital-Forensics-Analysis-from-Social-Media-Data/cleaned_datasets

cleaned_facebook_dataset.csv   cleaned_tiktok_dataset.csv
cleaned_instagram_dataset.csv  cleaned_twitter_dataset.csv

In [15]:
import pandas as pd

# Function to ensure unique columns and enforce schema
def load_and_prepare(path, rename_map, source_name):
    df = pd.read_csv(path)

    # Drop any duplicate columns
    df = df.loc[:, ~df.columns.duplicated(keep='first')]

    # Rename columns to standard names
    df = df.rename(columns=rename_map)

    # Keep only necessary columns
    df = df[list(rename_map.values())]
    df['source'] = source_name

    return df

# Define common columns and rename mappings
common_columns = ['user_id', 'comment_text', 'date_created', 'num_likes', 'num_replies', 'source']

facebook_path = 'NLP-Based-Digital-Forensics-Analysis-from-Social-Media-Data/cleaned_datasets/cleaned_facebook_dataset.csv'
instagram_path = 'NLP-Based-Digital-Forensics-Analysis-from-Social-Media-Data/cleaned_datasets/cleaned_instagram_dataset.csv'
tiktok_path = 'NLP-Based-Digital-Forensics-Analysis-from-Social-Media-Data/cleaned_datasets/cleaned_tiktok_dataset.csv'
twitter_path = 'NLP-Based-Digital-Forensics-Analysis-from-Social-Media-Data/cleaned_datasets/cleaned_twitter_dataset.csv'

# Load and prepare all datasets
df_fb = load_and_prepare(facebook_path, {
    'user_posted': 'user_id',
    'description_translated': 'comment_text',
    'date_posted': 'date_created',
    'likes': 'num_likes',
    'replies': 'num_replies'
}, 'facebook')

df_ig = load_and_prepare(instagram_path, {
    'comment_user': 'user_id',
    'comment': 'comment_text',
    'comment_date': 'date_created',
    'likes_number': 'num_likes',
    'replies_number': 'num_replies'
}, 'instagram')

df_tt = load_and_prepare(tiktok_path, {
    'commenter_user_name': 'user_id',
    'comment': 'comment_text',
    'date_created': 'date_created',
    'num_likes': 'num_likes',
    'num_replies': 'num_replies'
}, 'tiktok')

df_tw = load_and_prepare(twitter_path, {
    'user_posted': 'user_id',
    'description_translated': 'comment_text',
    'date_posted': 'date_created',
    'likes': 'num_likes',
    'replies': 'num_replies'
}, 'twitter')

# Final sanity check before concat
for df, name in zip([df_fb, df_ig, df_tt, df_tw], ['Facebook', 'Instagram', 'TikTok', 'Twitter']):
    print(f"{name} columns: {df.columns.tolist()}")

# Load and prepare TikTok safely (fixing duplicate column issue)
df_tt_raw = pd.read_csv(tiktok_path)

# Drop the original comment_text if both exist
if 'comment_text' in df_tt_raw.columns and 'comment' in df_tt_raw.columns:
    df_tt_raw = df_tt_raw.drop(columns=['comment_text'])

# Then rename
df_tt = df_tt_raw.rename(columns={
    'commenter_user_name': 'user_id',
    'comment': 'comment_text',
    'date_created': 'date_created',
    'num_likes': 'num_likes',
    'num_replies': 'num_replies'
})

# Retain relevant and add source
df_tt = df_tt[['user_id', 'comment_text', 'date_created', 'num_likes', 'num_replies']]
df_tt['source'] = 'tiktok'


# Combine all datasets
df_combined = pd.concat([df_fb, df_ig, df_tt, df_tw], ignore_index=True)

# Shuffle the dataset
df_combined = df_combined.sample(frac=1, random_state=42).reset_index(drop=True)

# Save unified dataset
output_path = 'NLP-Based-Digital-Forensics-Analysis-from-Social-Media-Data/cleaned_datasets/unified_social_media_dataset.csv'
df_combined.to_csv(output_path, index=False)

# Preview
print(f"\n‚úÖ Unified dataset saved to: {output_path}")

Facebook columns: ['user_id', 'comment_text', 'date_created', 'num_likes', 'num_replies', 'source']
Instagram columns: ['user_id', 'comment_text', 'date_created', 'num_likes', 'num_replies', 'source']
TikTok columns: ['user_id', 'comment_text', 'comment_text', 'date_created', 'num_likes', 'num_replies', 'source']
Twitter columns: ['user_id', 'comment_text', 'date_created', 'num_likes', 'num_replies', 'source']

‚úÖ Unified dataset saved to: NLP-Based-Digital-Forensics-Analysis-from-Social-Media-Data/cleaned_datasets/unified_social_media_dataset.csv

In [18]:
# df_combined.head()

from IPython.display import display, HTML

# Show first 20 rows
df_display = df_combined.head(20)

# HTML style settings
html = df_display.to_html(escape=False, index=False)

# Add CSS to wrap text and set column widths
style = """
<style>
table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
}
th, td {
    padding: 8px;
    text-align: right;
    vertical-align: top;
}
th:nth-child(1), td:nth-child(1) { width: 15%; }
th:nth-child(2), td:nth-child(2) { width: 50%; }
th:nth-child(3), td:nth-child(3) { width: 15%; }
th:nth-child(4), td:nth-child(4) { width: 10%; }
th:nth-child(5), td:nth-child(5) { width: 10%; }
th:nth-child(6), td:nth-child(6) { width: 10%; }
</style>
"""

# Display styled table
display(HTML(style + html))

In [19]:
# Basic insights
num_entries = len(df_combined)
num_sources = df_combined['source'].nunique()
entries_per_source = df_combined['source'].value_counts()
date_range = df_combined['date_created'].min(), df_combined['date_created'].max()
most_liked = df_combined.sort_values(by='num_likes', ascending=False).head(1)
most_replied = df_combined.sort_values(by='num_replies', ascending=False).head(1)

print(f"üî¢ Total entries: {num_entries}")
print(f"üì± Sources found: {num_sources} => {df_combined['source'].unique().tolist()}")
print(f"\nüóÇÔ∏è Entries per platform:\n{entries_per_source}")
print(f"\nüóìÔ∏è Date range: {date_range[0]} ‚Üí {date_range[1]}")

print("\nüî• Most liked post:")
display(most_liked[['source', 'comment_text', 'user_id', 'num_likes']])

print("\nüí¨ Most replied post:")
display(most_replied[['source', 'comment_text', 'user_id', 'num_replies']])

üî¢ Total entries: 4000
üì± Sources found: 4 => ['facebook', 'twitter', 'tiktok', 'instagram']

üóÇÔ∏è Entries per platform:
source
facebook     1000
twitter      1000
tiktok       1000
instagram    1000
Name: count, dtype: int64

üóìÔ∏è Date range: "2021-10-16T22:42:03.000Z" ‚Üí 2024-12-14T00:31:37.000Z

üî• Most liked post:

,source,comment_text,user_id,num_likes
994,twitter,"Really thrilled to tell you this!! Mexico, Arg...",tay‚ñà‚ñà‚ñàswi‚ñà‚ñà‚ñà3,592538

üí¨ Most replied post:

,source,comment_text,user_id,num_replies
994,twitter,"Really thrilled to tell you this!! Mexico, Arg...",tay‚ñà‚ñà‚ñàswi‚ñà‚ñà‚ñà3,28180